<div class="container mt-5">
  <div class="jumbotron" *ngIf="!registerMode" style="text-align: center;">
    <div>
      <h1 class="display-3">Un-Friendzone</h1>
      <p class="lead">
        Find your match and get out of friendzone
      </p>
      <hr class="my-4" />
      <p>Come on in to view your matches. All you need to do is sign up!</p>
      <div class="text-center">
        <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">
          Register
        </button>
        <button class="btn btn-info btn-lg" type="button" onclick="location.href='https://github.com/MattChen2000/UnFriendZone'">Learn more</button>
      </div>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register
          (cancelRegister)="cancelRegisterMode($event)"
        ></app-register>
      </div>
    </div>
  </div>
</div>
